@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Marcellus+SC&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkgrey: #333333;
  --white: #ffffff;
  --brown: #bf8e68;
  --light: #f0f0f0;
  --sand: #ffdeaa;
  --sea: #6cb1c9;
  font-family: "Klee One";
  background: linear-gradient(var(--sea) 65%, var(--brown));
}

body {
  color: var(--sand);
  height: 100vh;
  margin: 0 10vw;
  /* background-color: var(--brown); */
}
