.title_container {

/* fancy tytle */
font-family: "Marcellus SC"; // separate
font-size: 32px; // TODO: change to rem & separate
font-style: normal;
font-weight: 400;
line-height: normal;
}
.color_sand {
  color: var(--sand);
}
.color_white {
  color: var(--white);
}